<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head') -%>

    <body>
        <%- include ('partials/navbar') -%>

            <div class="about">

                <div class="container text-light">
                    <h3 class="mb-5">Dormitory</h3>
                    <p>
                        İstanbul Teknik Üniversitesi, il dışından gelen öğrencilere rahat, huzurlu, çağdaş, yüksek
                        standartlı yurtlarda barınma olanakları sunmaktadır.
                    </p>

                    <p>
                        Ayazağa, Gümüşsuyu ve Tuzla kampüsleri içerisinde
                        hizmet sunmaktadır.
                    </p>

                    <p>
                        Yurtlarımız 4.814 kişilik yatak kapasitesi bulunmaktadır.
                    </p>

                    <a href="http://www.yurtburs.itu.edu.tr/" class="insta-link">
                        Ayrıntılı bilgi için tıklayınız
                    </a>

                </div>

            </div>

            <%- include ('partials/footer_basic') -%>
    </body>

</html>