<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head') -%>

    <body>

        <%- include ('partials/navbar') -%>

            <div class="about">

                <div class="container text-light">
                    <h3 class="mb-5">Scholarship</h3>
                    <p>
                        “2021-2022 Eğitim-Öğretim Yılı Burs Başvurusu" için 13 Eylül - 1 Ekim 2021 tarihleri arasında online olarak
                        portal.itu.edu.tr adresie giriniz.
                    </p>

                    <p>
                        Öğrenci menüsünden Burs İşlemleri sekmesini kullanarak başvurunuzu gerçekleştirebilirsiniz. 
                    </p>

                    <p>
                        Bilginize sunarız.
                    </p>

                    <a href="https://portal.itu.edu.tr" class="insta-link">
                        Ayrıntılı bilgi için tıklayınız
                    </a>

                </div>

            </div>

            <%- include ('partials/footer_basic') -%>
    </body>

</html>